<include file="Common:head" title="前台导航栏"/>
<div class="picContainer">
    <img src="__PUBLIC__/picture/notice.jpg" alt="质检范围">
    <a id="fix-title" href="">质检范围</a>
</div>
<div class="container-two" id="container-content" style="position: relative" }>
    <div class="col-xs-2 col-md-2 left-menu">
        <ul>
            <li><a href="/Home/Information/process">质检流程</a></li>
            <li><a href="/Home/Information/scope">质检范围</a></li>
            <li><a href="/Home/Information/reportQuery">报告查询</a></li>
        </ul>
    </div>
    <div class="col-xs-10 col-md-10 right-content">
        <div class="breadcrumbs">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <ol class="breadcrumb pull-left">
                        <li>
                            <i class="glyphicon glyphicon-home"></i><a href="/Home/Index/index">主页</a>
                        </li>
                        <li>
                            <a href="/Home/Information/process">
                                质检服务
                            </a>
                        </li>
                        <li>
                            <span>质检范围</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row" id="right-content-details">
            <div class="col-xs-12 col-md-12">
                <ul class="media-list" id="notice-list">
                    <li class="media">
                        <div class="media-left">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=1">
                                <img class="media-object" src='__PUBLIC__/picture/number-1.png' alt="......">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=1" style="color: #000;">
                                <h4 class="media-heading">砂浆及其原材料</h4>
                            </a>
                            <span>发布：2017-12-20 12:00:00</span>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=2">
                                <img class="media-object" src='__PUBLIC__/picture/number-2.png' alt="......">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=2" style="color: #000;">
                                <h4 class="media-heading">混凝土及其原材料</h4>
                            </a>
                            <span>发布：2017-12-20 12:00:00</span>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=3">
                                <img class="media-object" src='__PUBLIC__/picture/number-3.png' alt="......">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=3" style="color: #000;">
                                <h4 class="media-heading">保温材料、系统及配套材料</h4>
                            </a>
                            <span>发布：2017-12-20 12:00:00</span>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=4">
                                <img class="media-object" src='__PUBLIC__/picture/number-4.png' alt="......">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=4" style="color: #000;">
                                <h4 class="media-heading">石膏制品及水泥制品</h4>
                            </a>
                            <span>发布：2017-12-20 12:00:00</span>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=5">
                                <img class="media-object" src='__PUBLIC__/picture/number-5.png' alt="......">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=5" style="color: #000;">
                                <h4 class="media-heading">涂料</h4>
                            </a>
                            <span>发布：2017-12-20 12:00:00</span>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=6">
                                <img class="media-object" src='__PUBLIC__/picture/number-6.png' alt="......">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=6" style="color: #000;">
                                <h4 class="media-heading">防水卷材</h4>
                            </a>
                            <span>发布：2017-12-20 12:00:00</span>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=7">
                                <img class="media-object" src='__PUBLIC__/picture/number-7.png' alt="......">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=7" style="color: #000;">
                                <h4 class="media-heading">化学分析、有害物质及大气污染物</h4>
                            </a>
                            <span>发布：2017-12-20 12:00:00</span>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=8">
                                <img class="media-object" src='__PUBLIC__/picture/number-8.png' alt="......">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num=8" style="color: #000;">
                                <h4 class="media-heading">隔声及噪声</h4>
                            </a>
                            <span>发布：2017-12-20 12:00:00</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>



</div>

<include file="Common:footer"/>