<include file="Common:head" title="前台导航栏"/>
<div class="picContainer">
    <img src="{$head_image.pic_path}" alt="标准化工作">
    <a id="fix-title" href="">标准化工作</a>
</div>
<div class="container-two" id="container-content" style="position: relative" }>
    <div class="col-xs-2 col-md-2 left-menu">
        <ul>
            <li><a class="hvr-box-shadow-inset" href="/Home/Information/standard">标准立项</a></li>
            <li><a class="sec-nav-active" href="/Home/Information/standardPub">标准发布</a></li>
            <li><a class="hvr-box-shadow-inset" href="/Home/Information/standardDyn">标准动态</a></li>
        </ul>
    </div>
    <div class="col-xs-10 col-md-10 right-content">
        <div class="breadcrumbs">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <ol class="breadcrumb pull-left">
                        <li>
                            <i class="glyphicon glyphicon-home"></i><a href="/Home/Index/index">主页</a>
                        </li>
                        <li>
                            <a href="/Home/Information/standard">标准化工作</a>
                        </li>
                        <li>
                            <span>标准发布</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row" id="right-content-details">
            <div class="col-xs-12 col-md-12">
                <ul class="media-list" id="notice-list">
                    <volist name="standard" id="vo" key="{i}">
                        <li class="media">
                            <div class="media-left">
                                <a href="{:U('/Home/Information/standardDetail')}?type=1&id={$vo['id']}">
                                    <img class="media-object" src='__PUBLIC__/picture/disc.png' alt="......">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="{:U('/Home/Information/standardDetail')}?type=1&id={$vo['id']}" style="color: #000;">
                                    <h4 class="media-heading"><span class="media-title-text">{$vo.title}</span><span class="scope-time">发布：{$vo.save_time}</span></h4>
                                </a>
                            </div>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
        <nav>{$pagination}</nav>
    </div>
</div>
<include file="Common:footer"/>