<include file="Common:head" title="前台导航栏"/>
<!-- 轮播图 -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <foreach name="image" item="vo">
            <li style="margin-right: 5px;padding-right: 20px;" data-target="#carousel-example-generic" data-slide-to="{$key}"></li>
        </foreach>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <foreach name="image" item="vo" key="k">
          <if condition="$k eq 0">
            <div class="item active">
                <img src="{$vo.picture}" alt="轮播图">
                <div class="carousel-caption">
                </div>
            </div>
            <else />
                <div class="item">
                    <img src="{$vo.picture}" alt="轮播图">
                    <div class="carousel-caption">
                    </div>
                </div>
          </if>
        
      </foreach>
    </div>
  
    <!-- Controls -->
    <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
</div>

<!-- 内容区域 -->
<div class="container-fluid" id="content-area">
    <div class="row">
        <div class="col-xs-12 col-md-2" id="download-left">
            <div class="infomation-title">
                <span class="infomation-title-icon"></span>
                <span class="infomation-title-text">资料下载</span>
                <a class="title-more" href="/Home/Information/file">更多&gt;</a>
            </div>
            <hr />
            <ul style="list-style-type: disc;" class="list-group">
                <foreach name="file" item="vo">
                    <li class="list-group-item">
                        <span title="{$vo.filename}" class="list-left-title"><span class="fake-downname  hvr-bounce-to-right">{$vo.filename}</span><span class="fake-download"><a href="{$vo['save_path']}" download="{$vo['filename']}">[下载]</a></span></span>
                    </li>
                </foreach>
            </ul>
        </div>
        <div class="col-xs-12 col-md-8" id="information-news">
            <div class="infomation-title">
                <span class="infomation-title-icon"></span>
                <span class="infomation-title-text">新闻中心</span>
                <a class="title-more" href="/Home/Information/news">更多&gt;</a>
            </div>
            <hr />
            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <div id="carousel-introduce" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <foreach name="news_pic" item="vo">
                                <li style="margin-right: 5px;padding-right: 20px;" data-target="#carousel-introduce" data-slide-to="{$key}"></li>
                            </foreach>
                        </ol>
                      
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                          <foreach name="news_pic" item="vo" key="k">
                                <if condition="$k eq 0">
                                    <div class="item active">
                                        <img src="{$vo.information_pic_path}" alt="新闻图片">
                                    </div>
                                    <else />
                                        <div class="item">
                                            <img src="{$vo.information_pic_path}" alt="新闻图片">
                                    </div>
                                </if>
                            </foreach>
                          </div>
                    </div>
                </div>
                <div class="col-xs-8 col-md-8" id="information-news-details">
                    <ul class="list-group">
                        <foreach name="news" item="vo">
                            <li class="list-group-item">
                                <a class="list-left-title hvr-bounce-to-right" href="{:U('/Home/Information/newDetail')}?type={$vo.type}}&id={$vo['id']}">{$vo.title}</a>
                                <span class="list-left-date">[{$vo.save_time}]</span>
                            </li>
                        </foreach>
                      </ul>
                </div>
            </div>
            <div class="row" id="center-content">
                <div class="col-xs-6 col-md-6">
                    <div class="infomation-title" style="overflow: hidden;">
                        <div>
                            <span class="infomation-title-icon"></span>
                            <span class="infomation-title-text">质检服务</span>
                            <a class="title-more" href="/Home/Information/process">更多&gt;</a>
                        </div>
                        <!-- <div style="float: right;width: 70%;">
                            <div class="input-group">
                                <input id="searchText" type="text" class="form-control" placeholder="请输入检索关键字...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" onclick="handleSearch()">搜索</button>
                                </span>
                            </div>
                        </div> -->
                    </div>
                    <hr />
                    <div class="zj-list" style="height: 166px; width: 100%; overflow: hidden;">
                        <ul class="list-group swiper-containerZJ" style="width: 100%; height: 100%;">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" style="width: 100%; height: auto;">
                                    <foreach name="list" item="vo">
                                        <li class="list-group-item">
                                            <a title="砂浆及其原材料" class="list-left-title hvr-underline-from-right" href="{:U('/Home/Information/scopeDetail')}?type=B&cate_num={$vo.cate_num}">{$vo.cate_name}</a>
                                        </li>
                                    </foreach>
                                </div>
                            </div>
                                    <!-- Add Scroll Bar -->
                            <!-- <div class="swiper-scrollbar"></div> -->
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="infomation-title">
                        <span class="infomation-title-icon"></span>
                        <span class="infomation-title-text">标准化工作</span>
                        <a class="title-more" href="/Home/Information/standard">更多&gt;</a>
                    </div>
                    <hr />
                    <ul class="list-group">
                        <foreach name="standard" item="vo">
                            <li class="list-group-item">
                                <a class="list-left-title hvr-bounce-to-right" href="{:U('/Home/Information/standardDetail')}?type={$vo.type}&id={$vo['id']}">{$vo.title}</a>
                                <span class="list-left-date">[{$vo.save_time}]</span>
                            </li>
                        </foreach>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-2 query-center">
            <div class="report-query-index">
                <div class="report-query-title">
                    报告查询
                </div>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="department" class="col-sm-4 control-label">受检单位</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="department">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="centerNum" class="col-sm-4 control-label">中心编号</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="centerNum">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="text-align: center;">
                            <button type="button" class="btn btn-primary" onclick="handleSubmit()"><i class="glyphicon glyphicon-search"></i>查询</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-xs-12 query-phone-warp" id="query-phone-warp-top" style="text-align:center;padding:0;">
                            <label class="report-query-phone">真伪查询电话：</label>
                        </div>
                        <div class="col-sm-6 col-xs-12 query-phone-warp" id="query-phone-warp-bottom" style="text-align:center;font-weight: bold;padding: 0;">
                            <label class="report-query-phone">010-51164716</label>
                        </div>
                    </div>
                    <p class="result" style="display: none;"></p>
                </form>
            </div>
            <div class="scope-query-index">
                <div class="scope-query-title">
                    质检范围查询
                </div>
                <div class="input-group">
                    <input id="searchText" type="text" class="form-control" placeholder="请输入检索关键字...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" onclick="handleSearch()">搜索</button>
                    </span>
                </div>
            </div>
            <div class="local-login">
                <a class="local-login-index" href="/Admin">
                    联络员登录
                </a>
            </div>
            
            <!-- <div class="infomation-title">
                <span class="infomation-title-icon"></span>
                <span class="infomation-title-text">报告查询</span>
            </div>
            <hr />
            <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="department" class="col-sm-4 control-label">受检单位</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="department">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="centerNum" class="col-sm-4 control-label">中心编号</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="centerNum">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="text-align:center;">
                            <label>真伪查询电话：<b style="font-weight: bold;">010-51164716</b></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="text-align: center;">
                            <button type="button" class="btn btn-primary" onclick="handleSubmit()"><i class="glyphicon glyphicon-search"></i>查询</button>
                        </div>
                    </div>
                    <p class="result" style="display: none;"></p>
            </form>
            <hr />
            <div class="infomation-title">
                <span class="infomation-title-icon"></span>
                <span class="infomation-title-text">质检范围查询</span>
            </div>
            <hr />
            <div class="row">
                <div class="input-group">
                    <input id="searchText" type="text" class="form-control" placeholder="请输入检索关键字...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" onclick="handleSearch()">搜索</button>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12" id="contactor-login">
                    <button class="btn btn-primary" onclick="handleRoute()"><i class="glyphicon glyphicon-user"></i>联络员登录</button>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- 实验室风采 -->
<div class="container-fluid" id="lab-sence">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="infomation-title">
                <span class="infomation-title-icon"></span>
                <span class="infomation-title-text" style="color: #000;">实验室风采</span>
            </div>
            <hr />
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <foreach name="lab_picture" item="vo">
                        <div class="swiper-slide" style="width: 300px; height: 200px; background-size: cover;">
                            <img style="width: 300px; height: 200px; background-size: cover;" src="{$vo.information_pic_path}" type="button" data-toggle="modal" data-target="#imgPreModal" data-whatever="{$vo.pic_path}" alt="..." onerror="onerror=null;src='__PUBLIC__/picture/logoo.png'" />                
                        </div>
                    </foreach>
                </div>
                <!-- <div class="swiper-pagination"></div> -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="imgPreModal" role="dialog" data-backdrop="false" aria-labelledby="imgPreModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="imgPreModalLabel">实验室风采</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <img style="width: 600px; height: 400px; display: inline-block; margin: 0 auto;" class="showPreImg" src="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    function handleSearch(){
        var searchValue = $("#searchText").val();
        console.log("searchValue", typeof searchValue)

        $.ajax({
            type:"post",
            url:"{:U('/Home/Information/searchIns')}",
            data:{"type": "A", "word": searchValue},
            dataType:"json",
            success:function(ret){
                if(ret.msg === 'succ'){
                   window.location.href="{:U('/Home/Information/scopeDetail')}?type=A&word="+searchValue
                }else{
                   window.confirm(ret.msg)
                }
            }
        });
    }

    function handleSubmit () {
        var department = $("#department").val(),
            centerNum = $("#centerNum").val(),
            code = $("#code").val();
            $.ajax({
                type:"post",
                url:"{:U('/Home/Information/doQuery')}",
                data:{"unit": department, "code": centerNum},
                dataType:"json",
                success:function(ret){
                    if(ret.msg=='succ'){
                       var result = $(".result")[0],
                            downloadLink = ret.data.content;
                       console.log('result',$(".result")[0])
                       console.log('result=====', $(".result").append(downloadLink))
                       $(".result").append(downloadLink)
                       console.log('result', $(".result"))
                       console.log("first", $(".result > a")[0])
                       $(".result > a")[0].click()
                       $(".result > a")[0].remove();
                    }else{
                        window.confirm(ret.msg)
                    }
                }
            });
    }
    function handleRoute(){
        window.location.href="/Admin"
    }

    /* 前端验证码 */
//     var createVeritification = function(){
// 	var GLOBAL_CHAR_NUM = 4;
// 	var GLOBAL_CHAR_STRING = "";
// 	var GLOBAL_COLOR_SET = [
// 		"#AAAAAA", "#888888", "#666666", "#444444", "#000000",
// 		"#FF44AA", "#FF0088", "#C10066", "#A20055", "#8C0044",
// 		"#FF3333", "#FF0000", "#CC0000", "#AA0000", "#880000",
// 		"#FF7744", "#FF5511", "#E63F00", "#C63300", "#A42D00",
// 		"#33FFAA", "#00FF99", "#00DD77", "#00AA55", "#008844",
// 		"#5599FF", "#0066FF", "#0044BB", "#003C9D", "#003377",
// 		"#5555FF", "#0000FF", "#0000CC", "#0000AA", "#000088",
// 		"#7744FF", "#5500FF", "#4400CC", "#2200AA", "#220088",
// 		"#9955FF", "#7700FF", "#5500DD", "#4400B3", "#3A0088",
// 		"#B94FFF", "#9900FF", "#7700BB", "#66009D", "#550088",
// 		"#E93EFF", "#CC00FF", "#A500CC", "#7A0099", "#660077",
// 		"#FF3EFF", "#FF00FF", "#CC00CC", "#990099", "#770077"
// 	];

// 	var chars = [];
// 	var ctx = undefined;
// 	var timer = undefined;
// 	var canvasWidth = 1000;
// 	var canvasHeight = 500;

// 	// 获取canvas 上下文环境
// 	var getContext = function(){
// 		var canvas = document.getElementById("canvas");
// 		ctx =canvas.getContext("2d");
// 		canvasWidth = canvas.width;
// 		canvasHeight = canvas.height;
// 		return ctx;
// 	};

// 	// 获取单个字符, 字符范围 0-9 A-Z a-z 
// 	var getChar = function(){
// 		var char = '';
// 		// 返回 0- 61之间的整数
// 		var seed = Math.floor(Math.random()*62);

// 		if(seed < 10)			// seed 在 0- 9之间,字符为数字
// 			char = Math.floor(Math.random()*10);
// 		else if(seed < 36)	// seed 在10-35之间,字符为大写字母
// 			char = String.fromCharCode(Math.floor(Math.random()*25.99)+65);
// 		else if(seed < 62)	// seed 在36-62之间,字符为小写字母
// 			char = String.fromCharCode(Math.floor(Math.random()*25.99)+97);
// 		return char;
// 	};

// 	// 将单个字符封装为对象
// 	var getPackageChars = function(){
// 		for(var i=0; i<GLOBAL_CHAR_NUM; i++){
// 			chars[i] = {
// 				"x": canvasWidth/GLOBAL_CHAR_NUM*i,
// 				"y": canvasHeight/10*7,
// 				"size": Math.floor(((canvasWidth/GLOBAL_CHAR_NUM > canvasHeight)?
// 					canvasHeight:canvasWidth)*8/10),
// 				"char": getChar(),
// 				"color": GLOBAL_COLOR_SET[Math.floor(Math.random()*(GLOBAL_COLOR_SET.length-0.01))]
// 			};
// 			// 字符位置移动控制 bar
// 			chars[i].posCtrl = (i%2 == 0)? -1: 1;
// 		}
// 		return chars;
// 	};

// 	// 检测验证码是否正确
// 	var veritificate = function(code){
// 		var txt = "";
// 		for(var i=0;i<GLOBAL_CHAR_NUM;i++)
// 			txt += chars[i].char;
// 		return txt.toUpperCase() == code.toUpperCase();
// 	};

// 	// 绘制字符
// 	var draw = function(){
// 		// 清空 画布
// 		ctx.clearRect(0,0,canvasWidth,canvasHeight);
// 		// 绘制 浅灰色背景
// 		ctx.fillStyle = "#eee";
// 		ctx.fillRect(0, 0, canvasWidth, canvasHeight );
// 		// 绘制 字符
// 		// ctx.font="72px Microsoft YaHei";
// 		ctx.font="84px Georgia";
// 		for(var i=0;i<GLOBAL_CHAR_NUM;i++){
// 			ctx.strokeStyle = chars[i].color;
// 			ctx.strokeText(chars[i].char,chars[i].x,chars[i].y);
// 		}
// 	};

// 	// 字体动画效果
// 	var animation = function(){
// 		// 初始化 timer
// 		clearInterval(timer);

// 		timer = setInterval(function(){
// 			// 动态改变字符位置
// 			for(var i=0;i<GLOBAL_CHAR_NUM;i++){
// 				chars[i].y += chars[i].posCtrl;
// 					if(chars[i].y < canvasHeight * 5/10 || chars[i].y > canvasHeight * 9/10)
// 						chars[i].posCtrl = -chars[i].posCtrl;
// 			}
// 			// 重绘字符
// 			draw();
// 		},50);
// 	};

// 	// 创建静态字体 canvas
// 	var createStatic = function(){
// 		console.log(getContext());
// 		console.log(getPackageChars());
// 		draw();
// 	};

// 	// 创建动画字体 canvas
// 	var createAnimation = function(){
// 		getContext();
// 		getPackageChars();
// 		animation();
// 	};

// 	return{
// 		"createStatic": createStatic,
// 		"createAnimation": createAnimation,
// 		"veritificate": veritificate
// 	}
// };


// var test = new createVeritification();
// test.createAnimation();
// // test.createStatic();

// // 点击刷新验证码
// var toggleVeritification = function(){
// 	test.createAnimation();
// };

// // 验证输入是否正确
// var checkCode = function(){
// 	// do sth...
//     if(test.veritificate(document.getElementById("code").value)){
//         return true
//     }
// };
</script>
<include file="Common:footer"/>

