<include file="Common:head" title="前台导航栏"/>
<!-- 轮播图 -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <foreach name="image" item="vo">
            <li style="margin-right: 5px;padding-right: 20px;" data-target="#carousel-example-generic" data-slide-to="{$key}"></li>
        </foreach>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <foreach name="image" item="vo" key="k">
          <if condition="$k eq 0">
            <div class="item active">
                <img src="{$vo.picture}" alt="轮播图">
                <div class="carousel-caption">
                </div>
            </div>
            <else />
                <div class="item">
                    <img src="{$vo.picture}" alt="轮播图">
                    <div class="carousel-caption">
                    </div>
                </div>
          </if>
        
      </foreach>
    </div>
  
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<!-- 内容区域 -->
<div class="container-fluid" id="content-area">
    <div class="row">
        <div class="col-xs-12 col-md-2" id="download-left">
            <ul class="list-group">
                <li class="list-group-item" id="list-group-title">资料下载<span class="glyphicon glyphicon-chevron-right"></span></li>
                <foreach name="file" item="vo">
                    <li class="list-group-item">
                        <span class="list-left-title">{$vo.filename}</span>
                        <span class="list-left-date">{$vo.savetime}</span>
                    </li>
                </foreach>
              </ul>
        </div>
        <div class="col-xs-12 col-md-8" id="information-news">
            <div class="infomation-title">
                <span class="glyphicon glyphicon-leaf"></span>
                <span class="infomation-title-text">新闻中心</span>
            </div>
            <hr />
            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <div id="carousel-introduce" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-introduce" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-introduce" data-slide-to="1"></li>
                          <li data-target="#carousel-introduce" data-slide-to="2"></li>
                          <li data-target="#carousel-introduce" data-slide-to="3"></li>
                        </ol>
                      
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                          <div class="item active">
                            <img src="__PUBLIC__/picture/lab_image/20130301082708_76145.jpg" alt="轮播图">
                            <div class="carousel-caption">
                            </div>
                          </div>
                          <div class="item">
                            <img src="__PUBLIC__/picture/lab_image/20130301082708_76145.jpg" alt="...">
                            <div class="carousel-caption">
                            </div>
                          </div>
                          <div class="item">
                            <img src="__PUBLIC__/picture/lab_image/20130301082708_76145.jpg" alt="...">
                            <div class="carousel-caption">
                            </div>
                          </div>
                          <div class="item">
                            <img src="__PUBLIC__/picture/lab_image/20130301082708_76145.jpg" alt="...">
                            <div class="carousel-caption">
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 col-md-8" id="information-news-details">
                    <ul class="list-group">
                        <foreach name="news" item="vo">
                            <li class="list-group-item">
                                <span class="list-left-title">{$vo.title}</span>
                                <span class="list-left-date">{$vo.save_time}</span>
                            </li>
                        </foreach>
                      </ul>
                </div>
            </div>
            <div class="row" id="center-content">
                <div class="col-xs-6 col-md-6">
                    <div class="infomation-title" style="overflow: hidden;">
                        <div style="float: left;">
                            <span class="glyphicon glyphicon-leaf"></span>
                            <span class="infomation-title-text">质检服务</span>
                        </div>
                        <div style="float: right;width: 70%;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="请输入检索关键字...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">搜索</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="list-left-title">首届华东六省首届华东六省首届华东六省首届华东六省首届华东六省</span>
                            <span class="list-left-date">2019-03-12</span>
                        </li>
                        <li class="list-group-item">
                            <span class="list-left-title">首届华东六省首届华东六省首届华东六省首届华东六省首届华东六省</span>
                            <span class="list-left-date">2019-03-12</span>
                        </li>
                        <li class="list-group-item">
                            <span class="list-left-title">首届华东六省首届华东六省首届华东六省首届华东六省首届华东六省</span>
                            <span class="list-left-date">2019-03-12</span>
                        </li>
                        <li class="list-group-item">
                            <span class="list-left-title">首届华东六省首届华东六省首届华东六省首届华东六省首届华东六省</span>
                            <span class="list-left-date">2019-03-12</span>
                        </li>
                      </ul>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="infomation-title">
                        <span class="glyphicon glyphicon-leaf"></span>
                        <span class="infomation-title-text">标准化工作</span>
                    </div>
                    <hr />
                    <ul class="list-group">
                        <foreach name="standard" item="vo">
                            <li class="list-group-item">
                                <span class="list-left-title">{$vo.title}</span>
                                <span class="list-left-date">{$vo.save_time}</span>
                            </li>
                        </foreach>
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-2">
            <div class="infomation-title">
                <span class="glyphicon glyphicon-leaf"></span>
                <span class="infomation-title-text">报告查询</span>
            </div>
            <hr />
            <form role="form">
                <div class="form-group">
                    <label for="department">受检单位</label>
                    <input type="text" class="form-control" id="department" 
                            placeholder="请输入单位名称">
                    <label for="centerNum">中心编号</label>
                    <input type="text" class="form-control" id="centerNum" 
                            placeholder="请输入中心编号">
                    <label for="code">验证码</label>
                    <input type="text" class="form-control" id="code" 
                            placeholder="请输入验证码">
                </div>
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-12" id="contactor-login">
                    <button class="btn btn-primary"><i class="glyphicon glyphicon-user"></i>联络员登录</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 实验室风采 -->
<div class="container-fluid" id="lab-sence">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="infomation-title">
                <span class="glyphicon glyphicon-leaf"></span>
                <span class="infomation-title-text">实验室风采</span>
            </div>
            <hr />
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <foreach name="lab_picture" item="vo">
                        <div class="swiper-slide">
                            <div class="thumbnail">
                                <img style="width: 500px; height: 300px;" src="{$vo.pic_path}" type="button" data-toggle="modal" data-target="#imgPreModal" data-whatever="{$vo.pic_path}" alt="...">
                            </div>
                        </div>
                    </foreach>
                </div>
                <!-- <div class="swiper-pagination"></div> -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="imgPreModal" role="dialog" aria-labelledby="imgPreModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="imgPreModalLabel">实验室风采</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <img style="width: 100%" class="showPreImg" src="" />
                    </div>
                    <!-- <div class="col-xs-12 col-md-12">
                        <p>这是一段描述</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Common:footer"/>

